dist/catalog.html
<!DOCTYPE html>
<html lang="ru">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>akarnauskas</title>
  <link href="css/main.css" rel="stylesheet">
  <body>
    <!--panel-menu-->
    <div class="menu">
      <ul class="menu__list">
        <li class="menu__item"><a class="menu__link">project</a></li>
        <li class="menu__item"><a class="menu__link">works</a></li>
      </ul>
    </div>
  </body>
</html>

src/pug/catalog.pug
doctype html
html(lang="ru")
    //= partails/head.pug
    
    body
        //panel-menu
        .menu
            ul.menu__list
                li.menu__item
                    a.menu__link project

                li.menu__item
                    a.menu__link works                
