src/pug/index.pug
doctype html
html(lang="ru")
    //= partails/head.pug
    
    body

        //header
        header.header
            .header__container.container

                //logo
                .header__logo.logo
                    img.logo__img(src="images/logo-sign.png", alt="Логотип")
                
                //nav
                nav.header__nav.nav
                    ul.nav__list
                        li.nav__item
                            a.nav__link(href="/works") PRoJECTS

                        li.nav__item.contacts
                            a.nav__link.nav__link--contact(href="#") CONTaCTS
                            ul.contacts__list
                                li.contacts__item
                                    a.contacts__link(href="mailto:sashakarabac@ya.ru") sashakarabac@ya.ru
                                li.contacts__item
                                    a.contacts__link(href="http://vk.com/akarnauskas", target="_blank") vk.com/akarnauskas
                                li.contacts__item
                                    a.contacts__link(href="http://telegram.me/Karnauska", target="_blank") @Karnauskas

            //video-bg
            video.video.header__video(loop muted autoplay poster="images/video-bg.jpg")
                source(src="images/video-bg.mp4" type="video/mp4")
                source(src="video/video-bg.webm" type="video/webm")          


        //end header


        //parallax
        div(class="parallax-block" data-parallax="scroll" data-image-src="/images/parralax-bg.jpg")
        //end paralax


        //presentation
        .presentation
            img.presentation__img(src="/images/bg-presentation.jpg")
            
        //end presentation


        //parallax
        div(class="parallax-block" data-parallax="scroll" data-image-src="/images/parralax-bg.jpg")
        //end parallax


        //products
        .products
            img.products__img(src="/images/pillow.jpg", alt="")
            img.products__img(src="/images/notebook.jpg", alt="")
        //end products

        
        //parallax
        div(class="parallax-block" data-parallax="scroll" data-image-src="/images/parralax-bg.jpg")
        //end parallax


        //footer
        .footer
            img.footer__img(src="images/bg-footer.jpg", alt="")
        //end footer


        //scripts
        script(src="js/main.js")
    

dist/index.html
<!DOCTYPE html>
<html lang="ru">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>akarnauskas</title>
  <link href="css/main.css" rel="stylesheet">
  <body>
    <!--header-->
    <header class="header">
      <div class="header__container container">
        <!--logo-->
        <div class="header__logo logo"><img class="logo__img" src="images/logo-sign.png" alt="Логотип"></div>
        <!--nav-->
        <nav class="header__nav nav">
          <ul class="nav__list">
            <li class="nav__item"><a class="nav__link" href="/works">PRoJECTS</a></li>
            <li class="nav__item contacts"><a class="nav__link nav__link--contact" href="#">CONTaCTS</a>
              <ul class="contacts__list">
                <li class="contacts__item"><a class="contacts__link" href="mailto:sashakarabac@ya.ru">sashakarabac@ya.ru</a></li>
                <li class="contacts__item"><a class="contacts__link" href="http://vk.com/akarnauskas" target="_blank">vk.com/akarnauskas</a></li>
                <li class="contacts__item"><a class="contacts__link" href="http://telegram.me/Karnauska" target="_blank">@Karnauskas</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
      <!--video-bg-->
      <video class="video header__video" loop muted autoplay poster="images/video-bg.jpg">
        <source src="images/video-bg.mp4" type="video/mp4">
        <source src="video/video-bg.webm" type="video/webm">
      </video>
    </header>
    <!--end header-->
    <!--parallax-->
    <div class="parallax-block" data-parallax="scroll" data-image-src="/images/parralax-bg.jpg"></div>
    <!--end paralax-->
    <!--presentation-->
    <div class="presentation"><img class="presentation__img" src="/images/bg-presentation.jpg"></div>
    <!--end presentation-->
    <!--parallax-->
    <div class="parallax-block" data-parallax="scroll" data-image-src="/images/parralax-bg.jpg"></div>
    <!--end parallax-->
    <!--products-->
    <div class="products"><img class="products__img" src="/images/pillow.jpg" alt=""><img class="products__img" src="/images/notebook.jpg" alt=""></div>
    <!--end products-->
    <!--parallax-->
    <div class="parallax-block" data-parallax="scroll" data-image-src="/images/parralax-bg.jpg"></div>
    <!--end parallax-->
    <!--footer-->
    <div class="footer"><img class="footer__img" src="images/bg-footer.jpg" alt=""></div>
    <!--end footer-->
    <!--scripts-->
    <script src="js/main.js"></script>
  </body>
</html>
